#profile-tab {
    color: #FFFFFF !important;
    background: #1C38A1 !important;
    font-weight: 600;
    font-size: 16px;
}

#dashboard-tab {
    color: #1C38A1;
    font-weight: 600;
    font-size: 16px;
}

#settings-tab {
    color: #1C38A1;
    font-weight: 600;
    font-size: 16px;
}

#profile-tab-1 {
    color: #FFFFFF !important;
    background: #1C38A1 !important;
    font-weight: 600;
    font-size: 16px;
}

#dashboard-tab-1 {
    color: #1C38A1;
    font-weight: 600;
    font-size: 16px;
}

#contacts-tab-1 {
    color: #1C38A1;
    font-weight: 600;
    font-size: 16px;
}